/src/.vs
/src/NFineCore.Code/obj
/src/NFineCore.Code/bin
/src/NFineCore.Configuration/obj
/src/NFineCore.Configuration/bin
/src/NFineCore.EntityFramework/obj
/src/NFineCore.EntityFramework/bin
/src/NFineCore.Repository/obj
/src/NFineCore.Repository/bin
/src/NFineCore.Service/obj
/src/NFineCore.Service/bin
/src/NFineCore.Web/obj
/src/NFineCore.Web/bin
/src/NFineCore.Web/wwwroot/attach
/src/NFineCore.Web/wwwroot/upload
/src/NFineCore.Web/App_Data
/src/packages



