<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/framework-font.css" rel="stylesheet" />
    <link href="~/css/framework-theme.css" rel="stylesheet" />
    <script src="~/lib/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/lib/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/wdtree/tree.js"></script>
    <link href="~/lib/wdtree/tree.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/laydate/laydate.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <link href="~/lib/wizard/wizard.css" rel="stylesheet" />
    <script src="~/lib/wizard/wizard.js"></script>
    <script src="~/lib/validate/jquery.validate.min.js"></script>
    <script src="~/lib/datepicker/WdatePicker.js"></script>
    <script src="~/lib/jqgrid/5.3.0/i18n/grid.locale-cn.js"></script>
    <link href="~/css/framework-ui.css" rel="stylesheet" />
    <script src="~/js/framework-ui.js"></script>
</head>
<body>
    <script>
        var keyValue = $.request("keyValue");
        $(function () {
            $("#UserName").val($.request('userName'));
            $("#RealName").val($.request('realName'));
        });
        function submitForm() {
            if (!$('#form1').formValid()) {
                return false;
            }
            var postData = $("#form1").formSerialize();
            postData["password"] = $("#Password").val();
            postData["keyValue"] = keyValue;
            $.submitForm({
                url: "/SystemManage/User/SubmitResetPassword",
                param: postData,
                success: function () {
                    $.loading(false)
                }
            })
        }
    </script>
    <form id="form1">
        <div style="padding-top: 30px; margin-right: 40px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" readonly type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">姓名</th>
                    <td class="formValue">
                        <input id="RealName" name="RealName" readonly type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">密码</th>
                    <td class="formValue">
                        <input id="Password" name="Password" type="password" class="form-control required" placeholder="请输入新密码" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
